* {
  font-size: 20px;
}

.calculator {
  max-width: 300px;
}

.display-container {
  display: flex;
  min-height: 50px;
  padding: 10px;
}

.display {
  flex: 1;
}

.current-operator {
  border: 2px solid rgb(33, 33, 172);
  border-radius: 10px;
  min-width: 50px;
  font-size: 30px;
  font-weight: bold;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-right: 20px;
}

.buttons {
  display: flex;
}

button {
  border-radius: 10px;
}

.numbers button {
  flex: 1;
  padding: 20px;
}

.operations {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.operations button {
  padding: 20px;
}
