.calculator {
  max-width: 300px;
}

.display {
  border: 1px solid red;
  min-height: 50px;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  gap: 10px;
}

.buttons {
  display: flex;
}

button {
  border-radius: 10px;
}

.numbers button {
  padding: 20px;
}

.operations {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.operations button {
  padding: 20px;
}
