* {
  font-size: 20px;
}

.calculator {
  max-width: 400px;
  border: 1px solid blue;
}

.display-container {
  display: flex;
  min-height: 50px;
  padding: 10px;
  border: 1px solid green;
}

.display {
  flex: 1;
}

.current-operator {
  border: 2px solid rgb(33, 33, 172);
  border-radius: 10px;
  min-width: 50px;
  font-size: 30px;
  font-weight: bold;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-right: 20px;
  flex: 3;
}

.buttons {
  display: flex;
}

button {
  border-radius: 10px;
  min-width: 80px;
}

.numbers button {
  flex: 1;
  padding: 20px;
}

.operations {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.operators,
.functions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.operators button,
.functions button {
  padding: 20px;
}

.func.clr {
  background-color: rgb(219, 87, 87);
  color: white;
}
